body {

    background-color: red;
}

h2 {
    margin: 0 0 10px 0;
}

.rood {
    color: palevioletred;
}

#koelkast {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    padding: 10px;
}

section {
    border: 2px solid yellow;
    padding: 10px;
    min-height: 200px;
}

button {
    padding: 10px 20px;
    background-color: lightblue;
    color: navy;
    font-size: 18px;
    border: 2px solid black;
}